## Import Data

In [138]:
# import necessary packages
import numpy as np
import pandas as pd
import MySQLdb
import datetime
from dateutil.relativedelta import relativedelta

In [139]:
# database credentials
dsn_database = "ercm_kc135"
dsn_hostname = "localhost"
dsn_port = 3306
dsn_uid = "root"
dsn_pwd = "root"

# create the database connection
conn = MySQLdb.connect(host = dsn_hostname, port = dsn_port, user = dsn_uid, passwd = dsn_pwd, db = dsn_database)

In [140]:
# create an empty dataframe
df = []

# select last five years of sortie history
query = "SELECT * FROM ercm_kc135.compiled_sortie_history_data"

# create dataframe from sortie history
df = pd.read_sql_query(query, conn)

In [148]:
period = 3

# df.set_index(['Serial_Number', 'Depart_Date', 'Flying_Hours'], inplace = True)
df = df[['Serial_Number', 'Depart_Date', 'Flying_Hours']]

# last_date = datetime.datetime.now().year - 5
last_Date = df['Depart_Date'].dt.year.max() 
df = df[df['Depart_Date'].dt.year >= last_date]

# print(df.dt.year.min())
print(df['Depart_Date'].dt.year.min())

2014

In [144]:
df.head()

     Serial_Number Depart_Date  Flying_Hours
1164    5700001419  2014-04-01           0.8
1165    5700001419  2014-04-24           3.3
1166    5700001419  2014-05-08           2.1
1167    5700001419  2014-05-09           1.2
1168    5700001419  2014-05-30           0.9

In [101]:
# quick validation on initial dataframe
print("Date five years ago: " + str(df['Depart_Date'].min()))
print("Number of records: " + str(len(df)))

Date five years ago: 2014-01-01 00:00:00
Number of records: 172255

In [145]:
for i in range(1, period + 1):
    #create column name and set window value (either 2, 1, or 0 when period = 3)
    column = 'W' + str(i)
    window = period - i

    # extract baseline month values
    df['Month'] = df['Depart_Date'].dt.month
    df['Year'] = df['Depart_Date'].dt.year

    # subset with loc to fix problematic time periods with year overlaps
    # if window is 2 and month is Jan or Feb, fix date accordingly
    if (window == 2):
        df.loc[(df.Month == 1) | (df.Month == 2), 'Year'] = df.Year - 1
        df.loc[(df.Month == 2), 'Month'] = 14
        df.loc[(df.Month == 1), 'Month'] = 13
    # if window is 1 and month is Jan, fix date accordingly
    elif (window == 1):
        df.loc[(df.Month == 1), 'Year'] = df.Year - 1
        df.loc[(df.Month == 1), 'Month'] = 13
    # else, use original month
    else:
        df['Month'] = df['Depart_Date'].dt.month

    # Decrement them month value based on the window value
    df['Month'] = df.Month - window

    # clean up date integer values by adding appropriate 0's and converting to strings
    df.loc[df.Month < 10, 'Month'] = '0' + df['Month'].astype(str) # add 0's to single digit months
    df.loc[df.Month >= 10, 'Month'] = df['Month'].astype(str) # do not add 0's to double digit months
    df['Year'] = df['Year'].astype(str) 

    # create the value for each window as a string
    df[column] = df['Year'] + '-' + df['Month'] + '-01'
    # convert each window back to original datetime64 format
    df[column] = df[column].map(lambda x: np.datetime64(x)) 

# drop the month and year columns
windowed = df.drop(['Month', 'Year'], axis = 1)

TypeError: 'Series' objects are mutable, thus they cannot be hashed

In [103]:
windowed.head()

     Serial_Number Depart_Date  Flying_Hours         W1         W2         W3
1164    5700001419  2014-04-01           0.8 2014-02-01 2014-03-01 2014-04-01
1165    5700001419  2014-04-24           3.3 2014-02-01 2014-03-01 2014-04-01
1166    5700001419  2014-05-08           2.1 2014-03-01 2014-04-01 2014-05-01
1167    5700001419  2014-05-09           1.2 2014-03-01 2014-04-01 2014-05-01
1168    5700001419  2014-05-30           0.9 2014-03-01 2014-04-01 2014-05-01

In [119]:
df = windowed

# create a list of column values thus far
columns = list(df.columns.values)

# calculate the point at which the melted dataframe with pivot
melt_axis = len(columns) - period

# create a melted dataframe to used for group by calculation
melted = pd.melt(df.reset_index(), 
                        id_vars= columns[0:melt_axis],
                        value_vars = columns[melt_axis:8],
                        var_name = 'Window',
                        value_name = 'Window_Val'
                  )

# group by window value and calculate the mean
grouped = melted.groupby(['Window_Val'], as_index=False).mean()

# rename columns
grouped.rename(columns = {'Window_Val': 'Three_Month_Start_Date', 'Flying_Hours': 'Average_Flying_Hours'}, inplace = True)

In [129]:
# melted.index.tolist()
# type(melted)
# grouped.dtypes
grouped = grouped[grouped['Three_Month_Start_Date'].dt.year >= last_date]
grouped.head()

  Three_Month_Start_Date  Average_Flying_Hours
2             2014-01-01              4.409950
3             2014-02-01              4.448175
4             2014-03-01              4.427750
5             2014-04-01              4.388169
6             2014-05-01              4.381353

## Production Code

In [149]:
def CalcWindows(df, period):  
    """ Calculates window value columns to determine what periods a flight record could be grouped into.
    Example: '2016-01-04' would return window values '2015-11-01', '2015-12-01', '2016-01-01'.
    Args:
        df: dateframe from previous function
        period: currently only works where period = 3. Long-term, will try and make dynamic based on this value
    Returns:
       windowed: dataframe with window values where record is active
    """
    # create useful window columns by iterating for 1 through number of periods specified
    for i in range(1, period + 1):
        #create column name and set window value (either 2, 1, or 0 when period = 3)
        column = 'W' + str(i)
        window = period - i

        # extract baseline month values
        df['Month'] = df['Depart_Date'].dt.month
        df['Year'] = df['Depart_Date'].dt.year

        # subset with loc to fix problematic time periods with year overlaps
        # if window is 2 and month is Jan or Feb, fix date accordingly
        if (window == 2):
            df.loc[(df.Month == 1) | (df.Month == 2), 'Year'] = df.Year - 1
            df.loc[(df.Month == 2), 'Month'] = 14
            df.loc[(df.Month == 1), 'Month'] = 13
        # if window is 1 and month is Jan, fix date accordingly
        elif (window == 1):
            df.loc[(df.Month == 1), 'Year'] = df.Year - 1
            df.loc[(df.Month == 1), 'Month'] = 13
        # else, use original month
        else:
            df['Month'] = df['Depart_Date'].dt.month

        # Decrement them month value based on the window value
        df['Month'] = df.Month - window

        # clean up date integer values by adding appropriate 0's and converting to strings
        df.loc[df.Month < 10, 'Month'] = '0' + df['Month'].astype(str) # add 0's to single digit months
        df.loc[df.Month >= 10, 'Month'] = df['Month'].astype(str) # do not add 0's to double digit months
        df['Year'] = df['Year'].astype(str) 

        # create the value for each window as a string
        df[column] = df['Year'] + '-' + df['Month'] + '-01'
        # convert each window back to original datetime64 format
        df[column] = df[column].map(lambda x: np.datetime64(x)) 

    # drop the month and year columns
    windowed = df.drop(['Month', 'Year'], axis = 1)
    
    # return results
    return windowed

 
def CalcRollingAvg(df, period):
    """ Calculates the rolling average by melting the window columns and grouping the result.
    Args:
        df: dateframe from previous function
        period: currently only works where period = 3. Long-term, will try and make dynamic based on this value
    Returns:
       grouped: dataframe with the moving average of flying_hours
    """
    # create a list of column values thus far
    columns = list(df.columns.values)

    # calculate the point at which the melted dataframe with pivot
    melt_axis = len(columns) - period

    # create a melted dataframe to used for group by calculation
    melted = pd.melt(df, 
                            id_vars= columns[0:melt_axis],
                            value_vars = columns[melt_axis:8],
                            var_name = 'Window',
                            value_name = 'Window_Val'
                      )

    # group by window value and calculate the mean
    grouped = melted.groupby(['Window_Val'], as_index=False).mean()
    # rename columns
    grouped.rename(columns = {'Window_Val': 'Three_Month_Start_Date', 'Flying_Hours': 'Average_Flying_Hours'}, inplace = True)
    
    # return results
    return grouped

In [150]:
def head(df, period = 3):
    """ Calls the CalcWindows and CalcRollingAvg functions
    Args:
        df: dateframe from previous function
        period: currently only works where period = 3. Long-term, will try and make dynamic based on this value
    Returns:
       final: final dataframe
    """    
    windows = CalcWindows(df, period)
    final = CalcRollingAvg(windows, period)
    
    return final

In [151]:
# create the final dataframe
final = head(df, period = 3)